<% title t '.title' %>
<h1><%= t '.title' %></h1>

<div class="panel panel-default">
  <div class="panel-body">
		
		<% @conversation.each do |message| %>
		<div class="clearfix">
			<% if message.sender_id.eql?(current_user.id) %>
			<p class="text-success pull-left">
				<strong><%= User.find(message.sender_id).first_name %></strong>
			</p>
			<div class="bubble me"><%= message.body %></div>
			<% else %>
			<p class="text-primary pull-right">
				<strong><%= User.find(message.sender_id).first_name %></strong>
			</p>
			<div class="bubble you"><%= message.body %></div>
			<% end %>
		</div>
		<p class="small text-muted text-center">
			<%= "#{distance_of_time_in_words_to_now(message.created_at)} #{t(:ago, scope: 'datetime.distance_in_words')}" %>
		</p>
		<% end %>
		
		<%= link_to(new_message_path(:recipient_id => @reply_to_id), class: "btn btn-primary btn-sm") do %>
	  	<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;<%= t '.reply' %>
	 	<% end %>
	 	
	</div>
</div>
