<% title t '.title' %>
<h1><%= t '.title' %></h1>

<div class="panel panel-default">
  <div class="panel-body">
		
		<% @conversation.each do |message| %>
		<div class="clearfix">
		<% if message.sender_id.eql?(current_user.id) %>
			<div class="pull-left">
				<p class="text-success">
					<%= User.find(message.sender_id).first_name %>
				</p>
			</div>
			<div class="bubble me"><%= message.body %></div>
		<% else %>
			<div class="pull-right">
				<p class="text-primary">
					<%= User.find(message.sender_id).first_name %>
				</p>
			</div>
			<div class="bubble you"><%= message.body %></div>
		<% end %>
		</div>
		<p class="small text-muted text-center">
			<%= "#{distance_of_time_in_words_to_now(message.created_at)} #{t(:ago, scope: 'datetime.distance_in_words')}" %>
		</p>
		<% end %>
		
	</div>
</div>
