<% title t '.title' %>
<h1><%= t '.title' %></h1>

<div class="panel borderless-top panel-default">
	<div class="panel-body">
		<% flash.each do |type, msg| %>
			<% if type == :notice %>
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= msg %>
				</div>
			<% end %>
    <% end %>
    
		<div class="text-center">
			<%= paginate @tutors %>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading">Panel heading</div>
		  <table class="table table-hover table-striped table-bordered">
		  	<tr>
					<th><small><%= t('.tutor_name') %></small></th>
					<th><small><%= table_sort('rate', t(:rate, scope: 'activerecord.attributes.tutor') ) %></small></th>
					<th><small><%= table_sort('country', t(:country, scope: 'activerecord.attributes.tutor') ) %></small></th>
					<th><small><%= t(:description, scope: 'activerecord.attributes.tutor') %></small></th>
					<th><small>Details</small></th>
				</tr>
			  <% @tutors.each do |tutor| %>
				<tr>
					<td><small><strong><%= link_to tutor.user.fullname, new_message_path(:recipient_id => tutor.user) %></strong></small></td>
					<td><small><%= tutor.rate %></small></td>
					<td><small><%= tutor.country %></small></td>
					<td><small><%= tutor.description %></small></td>
					<td class="text-center">
						<%= link_to t('.view_tutor_button'), "#tModal#{tutor.id}", "data-toggle" => "modal", :class => "btn btn-success btn-xs" %>
					</td>
				</tr>
				<% end %>
		  </table>
		</div>
		<%= render 'google_map' %>
	</div>
</div>

<% @tutors.each do |tutor| %>
	<%= render partial: 'modal', locals: {:tutor => tutor} %>
<% end %>
