<% title t('.title', website: t('website.name')) %>
<h1><%= t('.title', website: t('website.name')) %></h1>
<p><%= t '.description', website: t('website.name') %></p>
<hr />
<p>
We're living in an age when expectations are high, and a broader skill-set is required than ever before. In many work environments, speaking more than one language is no longer the exception, but the rule. Employers are seeking specialized, skilled workers but the educational system is lagging behind the demands of the time.
Project Purple is here to solve that problem. We connect you to the talent that can teach you the skills you need.
</p>
<h1>How it works</h1>
<hr />
<div class="row">
  <div class="col-md-4">
  	<div class="text-center"><%= image_tag "find_tutor.png" %></div>
  	<h2>1. Find your tutor</h2>
  	<strong>Students</strong>
  	<p>Simply register and look at available tutors near you.
  		If there aren't any, tell us what you're looking for and
  		 we'll e-mail you as soon as a match in your extended area
  		 comes up! Prefer to not receive email? Just check your 
  		 dashboard on Project Purple and a notification will pop 
  		 up with your match.</p>
		<strong>Tutors</strong>
		<p>Sign up, input your details and voila! Students will be 
			able to find you based on vicinity and qualifications.</p>
  </div>
  <div class="col-md-4">
  	<div class="text-center"><%= image_tag "contact.png" %></div>
  	<h2>2. Contact</h2>
  	<strong>Students</strong>
  	<p>Contact your tutor with zero hassle.</p>
		<strong>Tutors</strong>
		<p>No more running around town leaving phone numbers 
			on fliers, no more decentralized way for students 
			to find you.</p>
  </div>
  <div class="col-md-4">
  	<div class="text-center"><%= image_tag "schedule.png" %></div>
  	<h2>3. Schedule your lessons and start learning!</h2>
  	    <strong>Students & Tutors</strong>
  	    <p>Input your availability and meet up!</p>
  </div>
</div>
<div class="text-center">
	<button type="button" class="btn btn-primary btn-lg">
		Wow <span class="glyphicon glyphicon-heart"></span> Count me in!
	</button>
</div>
<hr />
